.st__container {
  display: flex;           /* establish flex container */
  flex-direction: column;  /* make main axis vertical */
  justify-content: center; /* center items vertically, in this case */
  align-items: center;     /* center items horizontally, in this case */
  height: 100vh;
}

.st__time {
  font-family: helvetica;
  text-align: center;
  font-weight: 100;
  font-size: 210px;
}
